.calcContainer{
  box-sizing: border-box;
  background-color: rgb(66, 80, 94);
  /* width: 35%; */
  max-width: 300px;
  margin: auto;
  margin-top: 2.5rem;
  padding: 2rem;
  padding-top: 1.5rem;
  border: 2px solid rgb(10, 9, 9);
  border-radius: 1rem;
}
.calcContainer h2{
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgb(253, 235, 213);
}
.calcContainer input{
  box-sizing: border-box;
  background-color: rgb(224, 255, 228);
  width: 100%;
  color: rgb(201, 140, 80);
  border-radius: 0.25rem;
  height: 3.5rem;
  font-size: 1.3rem;
  padding: 0.3rem;
  outline: none;
}
.buttonsContainer{
  box-sizing: border-box;
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 1.2rem;
}
.buttonsContainer div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttonsContainer div button{
  width: 2.6rem;
  height: 2rem;
  background-color: #fff;
  margin: 0.15rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.buttonsContainer div button .abc{
  background-color: rgb(13, 191, 191);
}
.buttonsContainer div button:last-child{
  background-color: rgba(14, 223, 223, 0.612);
}
.buttonsContainer div:first-child button:first-child{
  background-color: rgb(244, 79, 93);
}
.buttonsContainer div:first-child button:nth-child(3){
  background-color: rgb(81, 147, 247);
}
button:hover{
  border: none;
  cursor: pointer;
}
